// -----------------------colors--------------------
$bgColor:#1C1D22;
$greenColor:#3CA74E;
$orangeColor:#FC794B;
$mustardColor: #E8AE55;
$whiteColor:#fff;
$textGrey:#9E9E9E;
$boxColor:#303136;
$text-color1:#DFE0E1;